{% if page.subPages is not empty %}
    <hr>
    <h3>
        Other pages in this section:
    </h3>

    <ul>
        {% for sub in page.subPages %}
            <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
