<h1>
    {% set parenttitle = [] %}
    {% if page.parent.parent is not null and page.parent.parent.shorttitle != "Documentation" %}
        {% set parenttitle = [ page.parent.parent.shorttitle ] %}
    {% endif %}

    {% if page.parent is not null and page.parent.shorttitle != "Documentation" %}
        {% set parenttitle = parenttitle|merge([ page.parent.shorttitle ]) %}
    {% endif %}

    {% if parenttitle is not empty and parenttitle != page.title %}
    <span>{{ parenttitle|join(' » ') }} » </span>
    {% endif %}
    {{ page.title }}
</h1>