# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

DEFAULT_VERSION=3.3

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=bfe4ef2728f667bdd93db784eb3880b5
###< symfony/framework-bundle ###
