body {
    background: #f5f5f5 url(../images/grey.png) center top;
}

p {
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 10px 0;
    max-width: 34em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 46px;
}

h2 {
    font-size: 33px;
    line-height: 37px;
}

h3 {
    font-size: 28px;
    line-height: 33px;
}

h5 {
    font-size: 19px;
    line-height: 33px;
}

header h1 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 64px;
    color: #444;
    margin: 36px 0 12px;
    vertical-align: baseline;
    display: inline-block;
}

header h1 span {
    font-size: 28px;
    color: #888;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

header h1 a {
    text-decoration: none;
    color: #444;
    line-height: 1;
}

header h1 img {
    margin-bottom: -12px;
}

header h5 a {
    text-decoration: none;
}

header hr {
    margin-bottom: 20px;
    border-color: #e5e5e5;
    border-style: dotted;
}

header div.kop {
    float: left;
    width: 48%;
}

header div.search {
    float: right;
    width: 35%;
    margin-top: 3.5em;
}

input.gsc-search-button, input.gsc-search-button-v2 {
    width: 60px !important;
    height: 22px !important;
    padding: 3px 21px !important;
    margin-top: 2px;
    background-color: #357ae8 !important;
    background: #357ae8 !important;
}

#gs_tti50 {
    margin: 0 !important;
    padding: 2px !important;

}

.row {
    background-color: #FFF;
}

.content h2 {
    margin-top: 30px;
}

.content h2 code {
    font-family: "Source Code Pro", "Menlo", "Consolas", "Courier New", Courier, monospace;    
    font-size: 33px;
}

.content h3 {
    font-size: 20px;
    margin: 16px 0 8px;
}




ul li {
    padding: 0;
    margin: 0 0 3px 24px;
    list-style: disc;
    font-size: 15px;
    line-height: 23px;
    max-width: 34em;
}

p.note {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #A73;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p.tip {
    background-color: #D9EDF7;
    color: #3A87AD;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.note strong {
    color: inherit;
}

a, a:visited {
    color: #08c;
}

a:hover {
    color: #27C;
}

li.current a {
    color: #000;
}

code {
    padding: 1px 3px;
    background-color: #F0F0F0;
    color: #555;
    font-family: "Menlo", "Consolas", "Courier New", Courier, monospace;
    white-space: nowrap;
    font-size: 13px;
    font-weight: normal;
}

small {
    font-size: 11.5px;
}

.container {
    background: #fff;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #E8E8E8;
    padding: 0 42px 40px;
    max-width: 1100px;
    margin: 10px auto;
}


/* Highlighter overrides.. */
.syntaxhighlighter {
    background-color: #FBFBFB !important;
    padding: 4px;
    width: 90%;
}

.syntaxhighlighter code {
    font-size: 12px !important;
    font-family: "Menlo", "Consolas", "Courier New", Courier, monospace !important;
}

.syntaxhighlighter.source textarea {
    font-size: 12px !important;
    font-family: "Menlo", "Consolas", "Courier New", Courier, monospace !important;
    line-height: 18px !important;
}


.syntaxhighlighter .container {
    box-shadow: none;
}

.syntaxhighlighter table td div {
    font-size: 13px !important;
    line-height: 17px !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px double #FBD8D8 !important;
    background-color: #FBFBFB !important;
    color: #BBB !important;
    border-bottom: 1px solid #D0E0FD !important;
}


.syntaxhighlighter .container .line {
    background-color: #FBFBFB !important;
    color: #CCC !important;
    border-bottom: 1px solid #D0E0FD !important;
}

.syntaxhighlighter .toolbar {
    display: none;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #444 !important;
}

/* Added for Twig syntax highlighting.. */

.syntaxhighlighter .twigtag, .syntaxhighlighter .twigtag a {
    color: #258440 !important;
    font-weight: bold !important;
}

.syntaxhighlighter .twigcomment, .syntaxhighlighter .twigcomment a {
    color: #999 !important;
    font-style: italic !important;
}

.syntaxhighlighter .twigprint, .syntaxhighlighter .twigprint a {
    color: #009 !important;

}


/**
 * Styles for the sidebar
 */
.sidebar ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.sidebar ul li {
    margin: 0 0 0 20px;
    padding: 3px 0 3px 0;
    line-height: 1.2em;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sidebar ul li.section {
    list-style: none;
    margin: 12px 0 0 0;
    font-weight: bold;
}

.sidebar ul li a{
    color: #666;
    text-decoration: none; 
}

.sidebar ul li.current a {
    color: #0088CC;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.sidebar ul ul{
    margin-top: 4px;
    margin-left: 0px;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {

    body {
        background:#fff;
    }

    .container {
        box-shadow: none;
        margin: 0;
        padding: 10px;
    }

    .sticky {
        padding-top: 20px;
        position: relative;
        top: 0;
    }

    h1 {
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .content h2 code {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .sidebar {
        padding-bottom: 40px;
    }


    header div.kop {
        float: left;
    }

    header div.search {
        width: 100%;
        float: left;
        margin-top: 1em;
    }


}

 @media only screen and (min-width: 480px) and (max-width: 767px) {
 }


