
.labelholder {
    padding: 0px 12px 12px;

    .label.secondary {
        font-size: 75%;
        line-height: 90%;
        background-color: #CCC;
        border-radius: 4px;
        margin: 1px 2px;
    }
}

.panels {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 320px;
    -moz-column-width: 320px;
    column-width: 320px;
    padding: 0;
}

.panels .panel {
    background-color: #FFF;
    border: 1px solid lighten(desaturate($boltnewbackendblue, 38), 38);
    padding: 0 4px 4px;
    margin-bottom: 16px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;

    // Adding these two will force blocks to stay together, no breaking.
    // display: inline-block;
    // width: 100%;
    overflow: hidden;

    h2 {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: #FFF;
        background-color: lighten(desaturate($boltnewbackendblue, 12), 12);
        padding: 3px 4px;
        margin: 0 -4px;

        code {
            border: 0;
            color: #FCF8E3;
            padding: 1px 4px;
            font-family: 'Source Code Pro', Courier, "Courier New", monospace;
            //letter-spacing: -0.5px;
            background-color: rgba(0, 0, 0, 0.15);
            font-size: 100%;
            font-weight: bold;
        }

        a.anchor, a.anchor:hover {
            float: right;
            color: #BBB;
            margin-right: 10px;
        }

    }

    p {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13.5px;
        line-height: 1.4;
        margin: 8px 0;
    }

    code {
        padding: 0;
        color: #000;
        font-family: 'Source Code Pro', Courier, "Courier New", monospace;
        letter-spacing: -0.5px;
        font-size: 13px;
        background-color: transparent;
        border: 0;

        @include breakpoint(medium only) {
            font-size: 13px;
            color: #000;
        }

        @include breakpoint(medium only) {
            color: #222;
            font-size: 12px;
        }


    }

    mark {
        background-color: transparent;
        color: #C22;
        font-size: 125%;
        line-height: 50%;
    }

    .tip {
        padding: 3px;
        color: #A73;
        background-color: #FCF8E3;
        border: 1px solid #F7EAD1;
    }

    .tip p::before {
        content: "TIP: ";
        font-weight: bold;
    }

    table, tbody {
        width: 100%;
        border: 0;
        margin: 0;
        background-color: transparent;
        border-collapse: collapse;

    }

    th {
        text-transform: uppercase;
        font-size: 80%;
        text-align: left;
        padding: 2px 5px;
    }

    td {
        vertical-align: top;
        padding: 5px;
        border-collapse: collapse;

        p {
            font-size: $table-row-font-size;
            line-height: $table-line-height;
            margin: 0;
        }
    }

    td:first-child {
        white-space: nowrap;
    }

    td + td {
        white-space: pre-line;

    }

//    tr {
//
//        td {
//            background: $table-odd-row-bg;
//        }
//    }

    tr {
        &.even,
        &.alt,
        &:nth-of-type(even) {
            td {
                background: $table-even-row-bg;
                 border: 0;
            }

        }

    }

}

.readmore {
    color: $red;

    > a {
        color: $red;
    }

}



@include breakpoint(small only) {

    .columns {
        padding-left: 0;
        padding-right: 0;
    }

    table.linear {
        td {
            display: block;
        }

        th {
            display: block;
            width: 49%;
            float: left;
        }
    }

    .panels {
        padding: 0 6px;
    }

    .panel {

        border: 0;

        h2 {
            font-size: 17px;
        }

        p {
            font-size: 14px;
        }

        td {
            p {
                font-size: $table-row-font-size + 1;
                line-height: $table-line-height;
            }
        }

    }
}

.contain-to-grid + .panels > .small-6:first-child  > .panel:not(.tip) > p {
    margin: 5px;
}



//@media print {
//
//    .tip {
//        display: none;
//    }
//
//    table,
//    .panel {
//        position: relative !important;
//        display: inline-block !important;
//        width: 33% !important;
//        height: 100%;
//    }
//
//    table {
//        margin-bottom: 5em;
//    }
//
//    td {
//        word-wrap: break-word;
//
//    }
//
//
//}
