/*
Code highlighting for docs.bolt.cm, based on Base 16 - base16-default-dark
@see: https://chriskempson.github.io/base16/
*/


/* Gray */
.hljs-comment,
.hljs-quote {
  font-style: italic;
  color: #8e908c;
}

/* Base 0B: green */
.hljs-keyword,
.hljs-selector-tag {
  color: #a1b56c;
  font-weight: bold;
}

/* Base 08: Red */
.hljs-variable,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ab4642;
}

/* Base 08: Red */
.hljs-name,
.hljs-tag {
  color: #ab4642;
}

/* Base 09: Orange */
.hljs-attribute,
.hljs-attr {
  color: #dc9656;
}

/* Base 0B: Green */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #a1b56c;
}

/* Base 0D: Teal */
.hljs-template-variable,
.hljs-template-tag {
  // font-weight: bold;
  color: #7cafc2;
}

/* Base 0E: Lavender */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #ba8baf;
}

.hljs-meta,
.hljs-link {
  color: #80b8b1;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
  // font-weight: bold;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #F5F2F0;
  color: #555;
  padding: 1.3rem 10px 10px 1rem; //more room on top for the copy button on small screens;
  line-height: 1.6em;
  font-size: 0.85em;
  text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
