$white          : #ffffff;
$lightgrey      : #eae6dc;

//new styling okt 2015
$boltnewbackendblue    : #33363E;
$fadedtext             : #99A2A8;
$boltnewgreyblue       : #42628B;

// inherited from bolt site
$mediumblue     : $boltnewgreyblue ; // Was helderder: #3478a7;
$darkblue       : $boltnewbackendblue; // Was iets donkerder kleur #152833;
$red            : #F6350C; //was #FF4934;
$lessred        : desaturate(lighten($red, 20), 40);
$black          : #000;
$mediumgrey		: #6f6f6f;


$sans-serif     : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif          : 'Source Serif Pro', Georgia, serif;

// For the cheatsheet:
$table-bg: #FFF;
//$table-border-color: #FFF;
$table-border-size: 0px;
//$table-even-row-bg: lighten(desaturate($bolt-orange, 20), 35);
//$table-odd-row-bg: #F2F2F2;
$table-even-row-bg: #F4F3EA;
$table-odd-row-bg: #fff;
$table-row-padding: 2px;
$table-row-font-size: 13px;
$table-line-height: 1.4;