//((=== Code Block  ===))//

.code-toolbar {
    @include my(4);
    box-shadow: $box-shadow;
    border-radius: $radius;
    position: relative;

    @include desktop {
        width: calc(100vw - #{$sidebar-width + 99px } );
    }

    .content & {
        padding-top: 0;
    }
    .toolbar {
        @include px(3);
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    .number {
        font-size: 14px;
        min-width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
}



.copy-code{
    height: 100%;
    color: $text;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    &[aria-label]{
        &:after {
            font-family: $family-monospace;
            font-size: 14px;
            content: attr(aria-label);
            display: none;
            position: absolute;
            bottom: 0;
            right: 40px;
            line-height: 40px;
            white-space: nowrap;
        }
        &:hover:after, &:focus:after {
            display: block;
        }
    }
    a,
    &:hover {
        color: $link-hover;
    }
}