.navbar {
    box-shadow: 0px 1px 4px 0px transparentize($black, 0.25);
}

.navbar-start {
    margin-left: 3rem;
}

.navbar-brand {
    height: $header-height;
    background: $brand;
    background: linear-gradient(to right, darken($brand, 1%) 0%, darken($brand, 10%) 100%);
    @include tablet {
        background: linear-gradient(to left, darken($brand, 1%) 0%, darken($brand, 10%) 100%);
    }
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
        width: $sidebar-width;
    }
}
.navbar-item {
    font-size: 16px;
}
.button-bars {
    position: absolute;    
    top: 11px;
    right: 1rem;
}
.button.is-primary.navbar-burger {
    &:hover {
        background-color: $brand-dark;
    }
}
#sidebar-nav {
    .closed ul {
        display: none;
    }

    ul ul .selected {

        ul {
            border-left: 0;
            padding: 0;
        }

        li:before {
            content: '-';
            color: #FFF;
            position: absolute;
            margin-left: -9px;
            margin-top: 6px;
        }

        li {
            margin-left: 6px;
            font-size: 90%;
        }

        span {
            display: none;
        }

        .quick-links {
            margin: 0;
        }
    }
}
