//((===  Typography  ===))//

h1, h2, h3, h4, h5, h6 {
  font-family: $family-header;
  scroll-margin-top: 5rem;
}

.content h1 {
  @include desktop {
    margin-top: 1rem !important;
  }
}

.lead {
    font-size: $size-4;
    color: $grey-dark;
    font-weight: $weight-light;
}

.title {
    .anchor {
       i {
            font-size: $size-3;
       }
    }
}

.button {
    text-decoration: none;
}

main a {
    text-decoration: underline;
    text-decoration-skip: ink;
}

.quick-links {
    margin: 0 0 2em;
    ul {
        margin-top: 0;
    }
}