
.version-changer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    @include mobile {
        flex-direction: column;
        select {
            width: 100%;
        }
        .button {
            margin-top: .25em;
        }
    }
    @include tablet {
        .button {
            margin-left: .25em;
        }
    }
}