//((===  Bootstrap Overides  ===))//


//=== Initial Variables

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//=== Custom Colours

$base: #2C3E50;
$brand: #4C6E91;
$brand-light: lighten($brand, 10);
$brand-invert: findColorInvert($brand);
$brand-dark: darken($brand, 1);
$secondary: #1863af;
$ceramic: #F0F3F3;
$speed: 120ms;

//=== Custom Fonts

$family-header: "Source Sans Pro", sans-serif;
$body-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$family-monospace: Menlo, Consolas, 'Liberation Mono', 'Source Code Pro', monospace;

//=== Colour Overides

$primary:           $brand;
$primary-invert:    $brand-invert;
$info:              $brand-dark;
$warning:           $secondary;
$warning-invert:    $white;
$black:             $base;
$dark:              $base;
$text:              $base;

$grey-darker:  $brand-dark;
$grey-dark:    lighten($grey-darker, 3%);
$grey:         lighten($grey-darker, 6%);
$grey-light:   lighten($grey-darker, 9%);
$grey-lighter: lighten($grey-darker, 12%);


//=== Set initial font Size

$body-size: 16.5px;

//=== Sidebar Menu Overides

$menu-item-color: $white;
$menu-label-color: $ceramic;
$menu-list-border-left: 1px solid $ceramic;
$menu-item-active-color: $base;
$menu-item-active-background-color: $ceramic;

//=== Mobile Menu
$navbar-height: 2.25rem;

//=== Breadcrumb Overides

$breadcrumb-item-separator-color: $white;
$breadcrumb-item-color: $ceramic;
$breadcrumb-item-active-color: $white;

//=== Form Overides

$input-border-color: darken($ceramic, 10%);
$input-hover-border-color: $primary;
$input-color: lighten($base, 20%);

//== Inline code blocks

$code: #666;
$code-background: $ceramic;

//=== Tags
// $tag-background-color: $brand;
// $tag-color: $white;

//=== Panel
$panel-item-border: 1px solid $primary;
$panel-heading-background-color: $primary;

//=== Import Derived Variables

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

//== For the cheatsheet:
$table-bg: $white;
//$table-border-color: $white;
$table-border-size: 0px;
//$table-even-row-bg: lighten(desaturate($bolt-orange, 20), 35);
//$table-odd-row-bg: #F2F2F2;
$table-even-row-bg: $ceramic; // #F4F3EA;
$table-odd-row-bg: $white;
$table-row-padding: 2px;
$table-row-font-size: 13px;
$table-line-height: 1.4;