        {% if page.submenu|length > 1 %}
            <div class='quick-links is-desktop'>
                <span class="menu-label has-text-dark">Jump to:</span>
                <ul>
                    {% for anchor, item in page.submenu %}
                        <li><a href='#{{ anchor }}'>{{ item|raw }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}