$white          : #ffffff;
$lightgrey      : #eae6dc;
$mediumblue     : #3478a7;
$darkblue       : #152833;
$red            : #F6350C; //was #FF4934;
$lessred        : desaturate(lighten($red, 20), 40);
$black          : #000;
$mediumgrey		: #6f6f6f;
$boltblue       : #204499;

$sans-serif     : 'Source Sans Pro', arial, sans-serif;

