$white          : #ffffff;
$lightgrey      : #f5f5f5;
$mediumblue     : #366A88;
$darkblue       : #152833;
$red            : #F6350C; //was #FF4934;
$black          : #000;
$mediumgrey		: #6f6f6f;

$sans-serif     : 'Source Sans Pro', arial, sans-serif;

