@import 'variables';
@import 'settings';
@import 'foundation';
@import 'font-awesome';



/* ------------- only display non-retina, tenzij retina---------------- */

img.retina {
    display: none;
}

@media (min--moz-device-pixel-ratio: 1.5), //retina checks
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx) {
    img.retina {
        display: block;
    }
    img.non-retina {
        display: none;
    }
}

/* -------------LAY-OUT-------------- */

body {
    background: $lightgrey;
    font-family: $sans-serif;
}

section, container {
    @extend .row;
    background: $white;
    &.fullwidth {
        padding: 0;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

header, footer {
    @extend .row;
    background-position: fixed;
    @media #{$large-up} {
        max-width: 100%;
        }
    .inner {
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        @media #{$large-up} {
            position: relative;
        }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

p {
    line-height: 1.7;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}



.inner {
    //@extend .columns; //Not needed? Floats fuck up header.
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}


nav {
    ul {
        // LARGE //
        @media #{$large-up} {
            list-style: none;
            > li {
                display: block;
                float: left;
                list-style: none outside none;
                margin-left: 1rem;
            }
        }
    }
}

.jumpnav {
    background: #fff;
    padding-top: 2em;
	padding-bottom: 0;
    // LARGE //
    @media #{$large-up} {
    display: none;
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        li{
            text-align: center;
            font-size: 1rem;
            padding-bottom: .5rem;
        }
    }
}

a.toplink {
    display: block;
    margin: 1em auto 0 auto;
    width: 100px;
    // LARGE //
        @media #{$large-up} {
        display: none;
    }
}

/* ------------ STUFF -------------- */

span.desktop {
    display: none;
    // MEDIUM //
    @media #{$medium-up} {
    display: inline;
    }
}

span.mobile {
    // MEDIUM //
    @media #{$medium-up} {
    display: none;
    }
}

/* ------------ HEADER -------------- */

header {
    height: 150px;
    position: relative;
    background-size: cover;
    // MEDIUM //
    @media #{$large-up} {
        height: 200px;
    }
    h1 {
        color: $white;
        margin-top: 0;
        padding-top: 20px;
        margin-left: 40px;
    }
    h2 {
        display: none;
        color: $white;
        margin-left: 40px;
        font-size: 1em;
        text-shadow: 2px 2px 3px #000;
        // MEDIUM //
        @media #{$medium-up} {
            font-size: 2em;
       }
    }
    .download {
       width: 100%;
       font-size: 1rem;
       padding: .5rem;
       // MEDIUM //
       @media #{$medium-up} {
       position: absolute;
       width: 16rem;
       right: 6rem;
       top: 4rem;
       }
       &:before {
           content: "";
           background: #f09;
       }
       span.sub {
           display: none;
       }
    }

    .body-home & {
        height: 300px;
        // MEDIUM //
        @media #{$medium-up} {
            height: 450px;
        }
        h2 {
            display: block;
        }
        .download {
            top:auto;
            font-size: 1.25rem;
            padding: 1rem;
            span.sub {
                display: block;
            }
        }
    }
}

.headerimg {
    position: absolute;
    z-index: 0;
}

.meta-nav {
    position: absolute;
    right: 0.9375rem;
    bottom: 3px;
    background: rgba($black,0.7);
    color:#fff;
    padding-left: 1em;
    // MEDIUM //
    @media #{$large-up} {
        bottom: auto;
        top: 0;
        width: 16rem;
        right: 6rem;
    }
    ul {
        list-style: none;
        margin: 0;
        a {
            color:$white;
            text-decoration: none;
            font-size: 0.6875rem;
            &:hover {
                color: $red;
            }
        }
        i {
            margin-right: 5px;
        }
        li{
            display: inline;
            margin: 0 1em 0 0;
        }
        li.fork {
            display: none;
            // MEDIUM //
            @media #{$medium-up} {
                display: inline-block;
            }
        }

    }
}

.menu-toggle {
    display: block;
    background: $white;
    height: 30px;
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -40px;
    padding-left: 25px;
    color: $black;
    &.active {
        background: $darkblue;
    }
    // MEDIUM //
    @media #{$large-up} {
        display: none;
    }
    span {
        display: block;
        box-shadow: 0 10px 0 1px $mediumblue, 0 16px 0 1px $mediumblue, 0 22px 0 1px $mediumblue;
        height: 1px;
        left: 30px;
        position: absolute;
        top: 0;
        width: 20px;
    }
    .active & {
       box-shadow: 0 10px 0 1px $white, 0 16px 0 1px $white, 0 22px 0 1px $white;
    }
}

.main-nav {
    display: none;
    background: $darkblue;
    width: 100%;
    padding-bottom: 1em;
    transition:display 0s linear 0.5s,opacity 0.5s linear;
     // LARGE  //
    @media #{$large-up} {
        display: block;
        background: rgba($black,0.4);
        margin: -44px auto 0;
        position: relative;
        height: 44px;
   }
   &.expanded {
       display: block;
   }
    ul{
        list-style: none;
        margin-bottom: 0;
         // LARGE  //
        @media #{$large-up} {
        margin: 0 auto;
        width: 880px; //fixen: geen absolute waarde, maar liever een relatieve!
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        li {
             // MEDIUM  //
             @media #{$medium-only} {
             width: 50%;
             float: left;
             }
        }
        a {
            display: inline-block;
            padding: .4rem;
            color: $white;
            border-bottom: 2px solid transparent; //to prevent skipping when hovered
            // LARGE  //
            @media #{$large-up} {
                font-size: 1.125rem;
            }
        }
        li.active a{
            border-bottom: 2px solid $red;
        }
        li:hover a {
            border-bottom: 2px solid $white;
        }
    }
    &.is-sticky  { //when sticky
        margin-top: 0px;
        z-index: 160; // to go over sliderimg
        background: rgba($black,0.6);
        position: fixed;
        top: 0;
        left: 50%;
        margin-left: -600px;
        //margin-top: -22px;
    }
}


/* -------------- MAIN --------------- */

section{   // was .maininfo, .secinfo

    padding: 0 0 2em 0;

    // MEDIUM  //
    @media #{$medium-up} {
        padding: 0em 1em;
    }

    // LARGE  //
    @media #{$large-up} {
        padding: 3em 2em;
    }
    // XLARGE  //
    @media #{$xlarge-up} {
        padding: 3.5em 3.5em;
    }
}

main {
    background: #fff;
}

.maininfo {
    max-width: 3000px;
    margin-top: 0;
    padding: 0;

}


.maininfo .column,
.secinfo .column {
    margin-bottom: 2em;
    @media #{$large-up} {
        @extend .large-4;
    }
    // XLARGE  //
    @media #{$xlarge-up} {
        padding-left: 3em;
        padding-right: 1.5em;
    }

}

.maincolumn {
    @include grid-column(
        $columns:12
        )

    padding: 0;

    // LARGE //
    @media #{$large-up} {
        //padding-top: 2em;
    }
    h1, h2, h3, p.meta {
        text-align: left;
    }

    h2 {
        margin-bottom: 16px;
    }

    article {
        margin-bottom: 4em; //too specific, needs other place
        padding-bottom: 2em; //too specific, needs other place
        //border-bottom: 1px solid #ccc; //too specific, needs other place
        &:last-child {
	        margin-bottom: 0;
	        padding-bottom: 0;
	    }
        img {
            margin-bottom: 1em;
            clear:both;
        }
        .articlebody {
            @media #{$large-up} {
                @include grid-column(
                $columns: 8,
                $center:true
                );
            }
        }
    }
}

.disqus {
    margin-top: 4em;
}

.content {
    padding: 3.5em;

    p, ul, ol {
        max-width: 650px; // magic number: good linewidth to keep it readable
    }
}


/* -------- Specific Docs stuff -------- */

.maininfo {
    h1, h2, h3, h4 {
        text-align: left;
        font-weight: 400;
        margin-bottom: 12px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

}

mark {
    background-color: rgba(255, 255, 0, 0.6);
}

.body-docs p.note,
.body-docs p.tip {
    background-color: lighten($mediumblue, 50%);
    border-color: lighten($mediumblue, 45%);
    color: $mediumblue;
}


/**
 * Styles for the sidebar
 */

.sidebar {
    background: $darkblue;
    padding: 2rem 2rem 0;
    max-width: 300px; // Magic number : looks nice
    color: $white;
 }


.sidebar > ul {
    margin: 0 0 1rem 0;
    padding:0 0 1rem 0;
    color: $fadedtext;
    
    &.currentsection {
        color: $white;

    }
}



.sidebar ul li {
    padding: 3px 0 3px 0;
    line-height: 1.75em;
    list-style: none;
    font-size: 0.8125rem;
}

.sidebar ul li.section {
    margin: 12px 0 0 0;
    font-weight: bold;
    list-style: none;
    font-size: 1rem;

}

.sidebar ul li a{
    text-decoration: none;
    color: $fadedtext;
    font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;

}

.sidebar ul li.section a{
    text-decoration: none;
    color: $fadedtext;
    font-family: $sans-serif;
    font-weight: normal;

    &:hover {
        color: $white;
        text-decoration: none;
    }

}

.sidebar ul.currentsection {
    
    margin-top: 10px;
    border-top: 1px solid lighten($darkblue, 10%);
    border-bottom: 1px solid lighten($darkblue, 10%);

    li a {
        color: $white;
    }
}

.sidebar ul.hiddensection {
    padding-bottom: 0;
    margin-bottom: 0;
}



.sidebar ul li.current {
    background: $mediumblue;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    position: relative;

    a {
        color: $white;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $white;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.sidebar ul ul{
    margin-top: 4px;
    margin-left: 18px;
}

p {
    font-size: 16.5px;
    line-height: 1.5;
}
@media #{$large-up} {
    p {
        font-size: 15px;
        line-height: 1.7;
    }
}

p.note {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #A73;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p.warning {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #4d2114;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #ff9b9b;
    border: 1px solid #e06262;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p.tip {
    background-color: #D9EDF7;
    color: #3A87AD;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.meta {
    background-color: #acacac;
    color: #111 !important;
    border: 1px solid #888;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(10, 10, 10, 0.1);
    padding-left:60px;
    position: relative;
}
p.meta:before {
    content: "\f192";
    font-family: 'FontAwesome';
    display:table-cell;
    font-size:250%;
    position:absolute;
    left:15px;
    top:-1px;
}
p.meta a {
    color:#000;
    font-weight:bold;
    text-decoration: none;
    border:0;
}
p.meta.deprecation {
    background-color:#d19ba4;
    border-color:#ba5d6c;
}

pre {
    width: 800px;
    margin: 20px 0;
}

code.hljs {
    padding: 10px;
    line-height: 20px;
}

code {
    padding: 1px 3px;
    background-color: #EEE;
    border: 1px solid #E8E8E8;
    color: #555;
    font-family: "Menlo", "Consolas", "Courier New", Courier, monospace;
    font-size: 13px;
    font-weight: normal;
}

p code {
    white-space: nowrap;
}

span.copy-btn {
    color: #ddd;
    position: absolute;
    text-align: right;
    margin-top: 2px;
    right: -144px;
    text-transform: uppercase;
    font-size: 12px;
    @media #{$xlarge-up} {
        right: -174px;
    }
}

.content h2 code {
    font-size: 24px;
}

.content h3 code {
    font-size: 19px;
}

h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor {
    color: lighten($boltblue, 40);
    margin-left: 14px;
    font-size: 75%;
    border: 0;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor {
    color: lighten($boltblue, 10);
    text-decoration: none;
    border: 0;
}

.select2-results .select2-result-label {
    font-size: 13px;
}


.maininfo .maincolumn {
    a.button.docsintro {
        max-width: 560px;
        font-size: 19px;
        font-weight: bold;
        margin: 0;
        background-color: $mediumblue;
        color: $white;

        small {
            font-size: 14px;
            font-weight: normal;
        }
        &:hover {
            background-color: darken($mediumblue, 20);
        }
    }

    a.button.medium.docsintro {
        max-width: 270px;
        margin-right: 18px;
        font-size: 19px;
        font-weight: bold;
        color: $darkblue;

        background-color: #DDD;
        display: inline-block;

        small {
            font-size: 13px;
            font-weight: normal;
        }

        &:hover {
            background-color: #999;
        }

    }
    
    a.button.docsintro.layer {
        &:before {
            content:"";
            margin-right: 0px;
         }
    }

    div.docsintro {
        clear: both;
        display: block;
        margin-bottom: 16px;
    }
}

a.popup img,
div.gallery-popup img {
    border: 1px solid #bbb;
    display: block;
}



/* -------------- HERO SECTION--------------- */

section.hero {
	padding-top: 4em;
	padding-bottom: 0em;
	h1 {
		margin-bottom: 1em;
		font-weight: 400;
	}
	h2 {
		font-size: 1.25rem;
	}
}

/* -------------- SHORTTEXTS SECTION--------------- */

section.shorttexts {
	article {
		@include grid-column(
            $columns: 6
            );
        text-align: center;
        margin-bottom: 2em;
         // LARGE  //
        @media #{$large-up} {
            @include grid-column(
            $columns: 3
            );
            margin-bottom: 0;
        }
        h3, .icon {
	        text-align: center;
	        color: $mediumgrey;
	        font-size: 1.125rem;
        }
        i {
	        color: #fff;
	        background: $red;
	        width: 44px;
	        height: 44px;
	        border-radius: 22px;
	        padding-top: 7px;
	        margin-bottom: .5em;
	        margin-right: 0;
        }
        .icon{
	        height: 130px;
	        vertical-align: baseline;
        }
	}

}

section.logos {
    padding-top: 1rem;
    padding-bottom: 1rem;
    //overflow: hidden;
    h1{
    	font-size: 1.6875em;
    	text-align: center;
	}
	ul.logolist{
    	@include block-grid(4);
    	margin: 0 -0.9375rem;
    	@media #{$large-up} {
    	    @include block-grid(9);
    	}
    	li{
        	padding-bottom: 0;
        	&.sec{
                display: none;
                @media #{$large-up}{
                    display: block;
                }
            }
    	}
    	h3{
        	display: none;
    	}
	}

	/*article {
		@include grid-column(
            $columns: 4
            );
		@media #{$medium-up} {
    		@include grid-column(
            $columns: 1
            );
        }
    }*/
}
/* -------------- SLIDER SECTION--------------- */

.slider{
    background: #0F0; // $browngrey;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;
    margin-bottom: 3em;
    //max-width: none;
    // MEDIUM  //
    @media #{$medium-up} {
         padding-left: 10%;
         padding-right: 10%;
    }

    // LARGE  //
    @media #{$large-up} {
         padding-left: 2.5em;
         padding-right: 2.5em;
    }

    // XLARGE  //
    @media #{$xlarge-up} {
         padding-left: 3.5em;
         padding-right: 3.5em;
    }

    .pager {
        margin-bottom: 2em;
        text-align: center;
        width: 1000px;
        overflow: hidden;
        // LARGE //
        @media #{$large-up}{
        width: auto;
        overflow: visible;
        }

        a{
            display: inline-block;
            color: $black;
            margin-right: 2em;
            font-size: 1.25rem;
            line-height: 2;
        }
        a:hover, a.cycle-pager-active {
            color: $white;
        }
    }
    .slide{
        margin-bottom: 2;
        width:100%;
    }
    .slideimg {
        @extend .column;
        @extend .medium-center;
        @extend .large-8;
        text-align: center;
    }

    .slideimg img.large {
        display:none;
        // LARGE //
        @media #{$large-up}{
            display: block;
            float: left;
        }
    }

    .slideimg img.mobile {
        max-width: 300px;
        // LARGE //
        @media #{$large-up}{
            display: none;
        }
    }
    .highlights {
        padding-left: 10px;
    }
    .highlights {
        //display: none;
        @include grid-column(
            $columns: 12
            );
        margin: 2em 0 0 0;
        padding-left: 2em;

        // LARGE //
        @media #{$large-up}{
            display: block;
            @include grid-column(
            $columns: 4
            );
        }
        li {
            color: $white;
            list-style-type: none;
            font-size: 1rem;
            margin-bottom: 1em;
            line-height: 1.4;
            @media #{$large-up}{
                margin-bottom: 1em;
            }
            &:before {
                content: '\2022\a0';
                color: $red;
                font-size: 2.3rem;
                line-height: 0;
                vertical-align: -4px;
                margin-left: -21px;
            }
        }
    }
}


/* -------------- FOOTER --------------- */

footer {
    display: none;
}
/*
No footer on docs - AW


 footer {   
    background: $darkblue;
    color: $white;
    padding: 0 0 2rem;
    height: auto;
    font-size: 0.8125rem;
    .credits {
        @extend .columns;
        @extend .medium-6;
    }
    .socials {
        @extend .columns;
        @extend .medium-4;
        @extend .large-4;
        @extend .right;
        a{
            color: $white;
            display: block;
        }
        a:hover {
            color: $red;
            text-decoration: underline;
        }
    }
    nav {
        display: none;
        @include grid-column(
            $columns: 12
            );
        //background: rgba(0, 0, 0, 0.4);
        height: 44px;
        margin: 1em auto 2rem;
        max-width: 75rem;
        position: relative;
        ul {
            margin: 0 auto;
            width: 650px;
            a {
                display: inline-block;
                padding: 0.4rem;
                color: $mediumblue;
                text-shadow: 1px 1px 1px rgba(0,0,0,.8);
            }
        }
        @media #{$large-up}{
            display: block;
        }
    }
}

/* --------------- FEATURES ---------------*/

section.features {
    background: $lightgrey;
    h1{
        font-weight: 400;
        margin-bottom: 1em;
    }
    a.button{
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
    ul > li {
            p {
            display: none;
            @media #{$large-up} {
                display: block;
            }
        }
    }
}

.featurelist {
    margin-top: 1rem;
    @include block-grid(1);
    // MEDIUM //
    @media #{$medium-up} {
        @include block-grid(2);
    }
    // LARGE //
    @media #{$large-up} {
        @include block-grid(3);
    }
    li {
        h3 {
            margin-bottom: 1em;
            @media #{$large-up} {
                text-align: left;
            }
        }
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3em;
    }
    .fa {
            color: $red;
            font-size: 80%;
    }
}

.body-features {
    h1{
        font-weight: 400;
        margin-bottom: 1em;
    }
    h2.subheader {
        font-size: 1.25rem;
        text-align: center;
    }
    section {
        padding-bottom: 0;
    }
}


/* --------------- SHOWCASES ---------------*/

section.showcases {
    background: $lightgrey;
    h1{
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 400;
    }
    ul.showcaselist {
        margin-top: 1rem;
        @include block-grid(1);
        // MEDIUM //
        @media #{$medium-up} {
            @include block-grid(2);
        }
        // LARGE //
        @media #{$large-up} {
            @include block-grid(3);
        }
        li{
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 3em;
        }
        li:nth-child(3){
            display: none;
            @media #{$large-up} {
                display: block;
            }
        }
        h3 {
            margin-bottom: 1em;
            font-size: 1.125rem;
            @media #{$large-up} {
                text-align: left;
            }
        }

    }
}



/* -------------- TYPOGRAPHY --------------- */

p {
    a {
        border-bottom: 1px solid lighten($red, 25%)
    }
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid $red;
    }
    &.meta {
        font-size: 0.8125rem;
        color: $red;
    }
}

.content a {
    color: $mediumblue;
    border-bottom: 1px solid lighten($mediumblue, 30);
}


.content a:hover {
    text-decoration: none;
    color: darken($mediumblue, 20);
    border-bottom: 1px solid darken($mediumblue, 20);
}


h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
}

.maininfo h2,
.secinfo h2 {
    // Not in docs!
    // text-align: center;
    // LARGE  //
    @media #{$large-up}{
        text-align: left;
    }
    &.subheader {
        text-align: center;
    }
}


h3.subheader {
    font-size: 1rem;
    margin-bottom: 2em;
    text-align: center;
    // LARGE  //
    @media #{$large-up}{
        text-align: left;
    }
}

i {
    margin-right: .5em;
}
h1, h2, h3, h4 {
    font-weight: 400;
}

/* -------------- BUTTONS --------------- */



.maininfo .column,
.secinfo .column,
.maininfo .maincolumn {
    a.button{
         @include button(
         $padding:rem-calc(10),
         $full-width:true);
         font-size: 0.8125rem;
         max-width: 200px;
         display: block;
         margin: 10px auto;
         // MEDIUM  //
         @media #{$medium-up}{
              max-width: 200px;
         }
         &:before {
            content:"\00bb";
            margin-right: 5px;
         }
    }
}

.maininfo .column,
.secinfo .column {
    a.button {
        // LARGE  //
         @media #{$large-up}{
              max-width: 200px;
              margin: 2rem 0 1rem;
        }
    }
}

.maininfo .maincolumn {
    a.button {
        // LARGE  //
         @media #{$large-up}{
              margin-top: 2em;
        }
    }
}


button span.sub, .button span.sub {
    color: #000000;
    display: block;
    font-size: 65%;
    margin: .5rem 0 0;
}

a.topbutton {
    display: block;
    text-align: center;
    background: #fff;
    padding-bottom: 2em;
    // LARGE  //
    @media #{$large-up}{
        display: none;
        }
    i {
        color: #fff;
        background: $red;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        padding-top: 6px;
        margin-bottom: .5em;
        margin-right: 0;
        clear: both;
        }

}

//Buttonlist, possibly in content.

.maininfo .maincolumn ul.buttonlist {
    margin: 2rem 0 1rem 0;
    list-style: none;
    clear: both;
    li{
        height: 52px;
        @media #{$medium-up}{
        float: left;
        width: 28%;
        margin-left: 5%;
        margin-right: 0;
        }
        a.button {
            margin-left: auto;
            margin-right: auto;
            @media #{$medium-up}{
                margin: 0;
            }

        }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}










/* -------------- DEBUG --------------- */


/* --- add a slash at the beginning of this line to enable!
// --- Debug
// --- From: http://bueltge.de/test/media-query-debugger.php
@media all {
    body::before {
        font-weight: 500;
        display: block;
        text-align: center;
        position: absolute;
        padding: 1px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        font-size: 13px;
    }
}

@media #{$small-up}      { body::before { content: "$widthS"; background: rgba( 165,  42,  42, 0.8 ); } }
@media #{$medium-up}    { body::before { content: "$widthM" ; background: rgba( 255,   0,   0, 0.8 ); } }
@media #{$large-up}     {  body::before { content: "$widthL" ; background: rgba(   0, 153, 153, 0.8 ); } }
@media #{$xlarge-up}    {  body::before { content: "$widthXL" ; background: rgba( 159, 238,   0, 0.8 ); } }
@media #{$xxlarge-up}   {  body::before { content: "$widthXXL"; background: rgba(   0, 204,   0, 0.8 ); } }
//*/

