{% set section = section|split('/')|first %}

{% if attribute(menu[section], 'items') is defined %}
    <hr>
    <h3>
        Other pages in this section:
    </h3>
    {{ macro.submenu(attribute(menu[section], 'items'), version) }}
{% endif %}
