{% extends '_master.twig' %}

{% block content %}

    <div class="small-12 medium-12 large-9 columns content">

        <a href="#sidebar" class="button hide-for-large-up jumpbutton">Jump to docs navigation</a>


        {# temporary for the transition phase between 1.6 and 2.0
        <p class="note">
            <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt 2.0</strong>.
            Looking for the <a href="https://docs.bolt.cm/v16">documentation for Bolt version 1.6</a> instead?
        </p>#}

        {{ source|raw }}

        {% include '_sub_submenu.twig' with {'section': current } %}

        <div class="community-notice hide-for-medium-down">
            Couldn't find what you were looking for? We are happy to help you in the <a href="https://discuss.bolt.cm/" target="_blank">forum</a> or on <a href="http://slack.bolt.cm/" target="_blank">Slack</a>.
        </div>


    </div>

    <div class="small-12 medium-12 large-3 large-pull-9 end columns sidebar" id="sidebar">
        <nav id="sidebar-nav">

            <div id="tree1" data-url="/tree/{{version}}.json"></div>

        </nav>
    </div>

{% endblock content %}
