<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>{{ title }} - Bolt documentation </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/view/css/foundation.css" />
    <script src="/view/js/vendor/modernizr.js"></script>

	<script src="/view/js/jquery.js"></script>

	<!-- Highlighter --> 
	<script type="text/javascript" src="/view/js/shCore.js"></script>
	<script type="text/javascript" src="/view/js/shBrushJScript.js"></script>
	<script type="text/javascript" src="/view/js/shBrushPlain.js"></script>
	<script type="text/javascript" src="/view/js/shBrushPhp.js"></script>
	<script type="text/javascript" src="/view/js/shBrushCss.js"></script>
	<script type="text/javascript" src="/view/js/shBrushXml.js"></script>
	<link href="/view/css/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/view/css/shThemeDefault.css" rel="Stylesheet" type="text/css" />	

	<script type="text/javascript" src="/view/js/jquery.fancybox.js"></script>
    <link href="/view/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />    
	<script type="text/javascript" src="/view/js/docs.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Source+Code+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/view/css/bolt.css">

    <link rel="shortcut icon" href="http://bolt.cm/app/view/img/favicon-bolt.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="http://bolt.cm/app/view/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://bolt.cm/app/view/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://bolt.cm/app/view/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://bolt.cm/app/view/img/apple-touch-icon-144x144.png">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34977638-1']);
  _gaq.push(['_setDomainName', 'docs.bolt.cm']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

    <div class="container">

        <header class="row">
            
           <div class="kop"> 
            <h1 class="">
                <a href="/"><img src="/view/images/bolt-logo.png" alt="bolt"> <span>documentation</span></a>
            </h1>
            <h5><a href="http://bolt.cm">&laquo; Back to Bolt.cm</a> - Version {{ version }}</h5>
           </div> 
            
            
            
            <div class="search">
                <script>
                    (function() {
                        var cx = '018158053705801320431:c_y9tykido0';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                            })();
                </script>
                <gcse:search></gcse:search>
            </div>
            
                        
            <hr />

{# Menu, taken directly from bolt.cm #}
            {#
<nav class="main">
    <ul class="dd_menu">
        <li>
            <a href="http://bolt.cm" title='The Bolt Homepage' class=''>Home</a>
                </li>
        <li>
            <a href="/screenshots" title='An overview of the features in Bolt. With screenshots!' {% if title == "Screenshots" %}class='current'{% endif %}>Screenshots</a>
                </li>
        <li>
            <a href="http://bolt.cm/page/showcase" title='' class=''>Showcase</a>
                </li>                
        <li>
            <a href="/" title='Documentation for installation, configuration and working with Bolt' {% if title != "Screenshots" %}class='current'{% endif %}>Documentation</a>
                </li>
        <li>
            <a href="http://manual.bolt.cm" title='Manual for &#039;working with Bolt&#039;, specifically for endusers and editors.'            class=''>User manual</a>

                </li>                
        <li>
            <a href="http://bolt.cm/page/news" title='The latest news' class=''>News</a>
                </li>
        <li>
            <a href="http://bolt.cm/page/download" title='Download the latest release of Bolt.' class=''>Download</a>
                </li>
        </ul>
</nav> #}
{# end of menu #}
        </header>

        <div class="row">

			<div class="large-3 columns sidebar">

                {% include '_sub_contents.twig' %}

            </div>

			<div class="large-9 columns content">
				
				{{ source|raw }}

				<hr style='margin-top: 36px;'>

<p><small>Are you missing anything in the Bolt documentation? 
Please <a href="mailto:documentation@bolt.cm?subject=Bolt documentation.">let us know</a>, and we'll fix it.</small></p>

	<div style='float: left;'>
            <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbolt.cm&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:35px;" allowTransparency="true"></iframe>

			</div>

        </div>

	</div><!-- container -->

<a style="position: absolute; top: 0; right: 0;" href="https://github.com/bolt/bolt"><img style="position: fixed; top: 0; right: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

</body>
</html>
