# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Prevent directory listing
Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Some servers require the RewriteBase to be set. If so, set to the correct folder.
    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
